.mainSection {
  width: 100%;
  height: 100%;
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

.rightSection,
.leftSection {
  width: 50%;
  height: 100%;
}

.leftSection {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  display: grid;
  grid-template-columns: auto;
  gap: 32px;
  text-align: center;
  justify-items: center;
  color: #A7834B;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;

  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

.rightSection {
  background-image: url("./assets/IMG-cfa73ab10a975d4d4b060246445394fb-V.jpg");
  background-size: cover;
}

.flowerBottom {
  width: 220px;
  position: absolute;
  bottom: 0;
  right: 10px;
  z-index: -1;
}

.flowerTop {
  width: 220px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.title {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  margin-bottom: 0;
  color: #275B52;
}

.button {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  background-color: #275B52;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 6px;
  text-transform: uppercase;

  &:hover {
    background-color: #3e9284;
  }
}

.text {
  font-size: 15px;
  width: 500px;
}

.landingSection {
  height: 100vh;
  display: flex;
}

.infoSection {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  background: linear-gradient(-45deg, #1f4942, #34e9bf);
}

.infoWrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infoImageWrapper {
  background-color: #fff;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  display: flex;
}

.infoImage {
  width: 500px;
  border: 2px solid #fff;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  clip-path: polygon(10% 0, 100% 0, 100% 30%, 100% 90%, 90% 100%, 30% 100%, 0 100%, 0 10%);
}

.infoText {
  width: 550px;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  color: #fff;
  font-weight: 100;

  & img {
    width: 60px;
    margin-bottom: 16px;
  }

  & p {
    margin-bottom: 16px;
  }
}

.mobileLandingImage {
  display: none;
  width: 350px;
  height: 200px;
  background-size: 350px;
  background-position-y: -24px;
  border-radius: 80px;
  background-image: url('./assets/IMG-cfa73ab10a975d4d4b060246445394fb-V.jpg');
}

.infoImageMobileWrapper {
  display: none;
}

.countdown {
  display: grid;
  gap: 12px;
  grid-auto-flow: column;
}

.countdownSection {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 2px solid #cfa45e;
  width: 100px;
  padding: 6px;

  span {
    font-size: 11px;
    font-weight: bold;
  }
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@media only screen and (max-width: 1200px) {
  .flowerBottom,
  .flowerTop {
    width: 150px;
  }

  .infoImage,
  .infoText {
    width: 400px;
  }

  .infoWrapper {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 900px) {
  .leftSection {
    width: 100%;
  }

  .rightSection {
    display: none;
  }

  .info {
    gap: 16px;
  }

  .mobileLandingImage {
    display: block;
  }

  .title {
    margin-top: 0;
  }

  .infoImageMobileWrapper {
    display: block;
    max-width: 550px;
  }
 
  .infoMobileImage {
    max-width: 550px;
    border: 2px solid #fff;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    clip-path: polygon(10% 0, 100% 0, 100% 30%, 100% 90%, 90% 100%, 30% 100%, 0 100%, 0 10%);
  }

  .infoImageWrapper {
    display: none;
  }

  .infoWrapper {
    flex-direction: column;
  }  

  .infoText {
    margin-top: 16px;
    font-size: 18px;

    & img {
      width: 30px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .flowerBottom,
  .flowerTop {
    width: 100px;
  }

  .flowerBottom {
    position: absolute;
    top: 0;
    right: 0px;
    transform: rotate(180deg);
    transform: scaleY(-1);
  }

  .info {
    font-size: 16px;
  }
  
  .title {
    font-size: 30px;
  }

  .infoImageMobileWrapper {
    max-width: 280px;
  }
 
  .infoMobileImage {
    max-width: 280px;
  } 

  .infoText {
    width: 350px;
    font-size: 16px;
  }

  .countdownSection {
    border: 1px solid #cfa45e;
    width: 50px;
  
    span {
      font-size: 9px;
    }
  }

  .countdown {
    display: grid;
    gap: 6px;
    grid-auto-flow: column;
  }
}